# 子集
## 取子集-向量


-  []返回的对象和原对象类型相同(可能被简化),从一个对象提取多个元素
-  [[]]从列表或者数据框中提取元素，且仅可提取一个元素，返回的对象类型可以不同 
-  $可以从有命名的列表或数据框中提取元素，和[[]]类似。


三种索引类型；数字索引，逻辑索引，名字索引

In [2]:
x <- c("a", "d", "c", "c", "d", "a")
x[1]
x[1:4]

x[x > "a"]

[1] "a"

[1] "a" "d" "c" "c"

[1] "d" "c" "c" "d"

## 取子集-矩阵、数据框
通常子集只有一个或一串数字会自动简化，得到的是向量，但是有时想得到矩阵，修改 drop 参数

In [3]:
x <- matrix(1:12, 2, 6)
x

x[1, 2]

x[2, c(1, 3)]
x[1, ]

x[, 2]

     [,1] [,2] [,3] [,4] [,5] [,6]
[1,] 1    3    5    7     9   11
[2,] 2    4    6    8    10   12

[1] 3

[1] 2 6

[1]  1  3  5  7  9 11

[1] 3 4

In [5]:
x[1, 2, drop = F]

     [,1]
[1,] 3

In [6]:
x[1, 2]

[1] 3

## 取子集-列表

In [9]:
x <- list(foo = 1:4, bar = 0.6)
x[1]
class(x[1])

$foo
[1] 1 2 3 4

[1] "list"

In [10]:
x[[1]]
class(x[[1]])

[1] 1 2 3 4

[1] "integer"

In [11]:
x$bar

x[["bar"]]
x["bar"]

[1] 0.6

[1] 0.6

$bar
[1] 0.6

In [13]:
## 取子集 - 列表 - 2


x <- list(a = 1:4, b = 0.6, c = "hello")
x[c(1, 3)]

x[c("a", "c")]

$a
[1] 1 2 3 4

$c
[1] "hello"

$a
[1] 1 2 3 4

$c
[1] "hello"

### 取子集-名字索引


$后面的名字不能是计算得到的

In [14]:
x <- list(a = 1:4, b = 0.6, c = "hello")
name <- "a"
x[name]

x$name
## NULL
x$a
## [1]1234

$a
[1] 1 2 3 4

NULL

[1] 1 2 3 4

## 取子集-特殊用法

In [18]:
x <- list(a = list(10, 12, 14), b = c(3.14, 2.81))
x

$a
$a[[1]]
[1] 10

$a[[2]]
[1] 12

$a[[3]]
[1] 14


$b
[1] 3.14 2.81

In [33]:
x[[1]][[1]]

[1] 10

In [34]:
x[[c(1, 3)]] # [1]14
x[[1]][[3]] ##     连着取两次子集
# [1]14
x[[c(2, 1)]] ##     只能是数字索引
# [1]3.14

[1] 14

[1] 14

[1] 3.14


名字索引部分匹配(缩写仅能唯一匹配),只能用在双方括号和$符号中

In [17]:
x <- list(aardvark = 1:5)
x$a
## [1]12345
x[["a"]] ## 默认情况下不会部分匹配
## NULL
x[["a", exact = F]] # 需要调整参数
## [1]12345

[1] 1 2 3 4 5

NULL

[1] 1 2 3 4 5

## 生成新的元素


当索引不存在的列或者元素的时候，会生成新的列或者元素

In [35]:
x <- 1:3
x[4] <- 100
x
## [1]  1  2  3100 x[7]<-0.01;x
## [1]le+002e+003e+001e+02  NA  NA le-02
x <- data.frame(a = T)
x
##    a
## 1    TRUE
x[2] <- "1alala"
x
##     a     V2
## 1 TRUE lalala
x["c"] <- 1 + 2i
x
##     a     V2   c
## 1   TRUE   lalala   1+2i
x$d <- 5L
x
##    a     V2       c    d
## 1   TRUE   lalala   1+2i   5

[1]   1   2   3 100

  a
1 TRUE

  a    V2
1 TRUE 1alala

  a    V2     c
1 TRUE 1alala 1+2i

  a    V2     c    d
1 TRUE 1alala 1+2i 5

## 去除缺失值


- is.na();complete.cases()得到逻辑向量，通过取子集剔除缺失值-na.omit() 直接剔除 (对象一般是数据框)

In [36]:
x <- c(1, 2, NA, 4, NA, 5)
bad <- is.na(x)
bad

[1] FALSE FALSE  TRUE FALSE  TRUE FALSE

In [37]:
x[!bad]

[1] 1 2 4 5

In [38]:
x <- c(1, 2, NA, 4, NA, 5)
y <- c("a", "b", NA, "d", "e", NA)
good <- complete.cases(x, y)
good

[1]  TRUE  TRUE FALSE  TRUE FALSE FALSE

## 数据框去除缺失

In [45]:
airquality

    Ozone Solar.R Wind Temp Month Day
1    41   190      7.4 67   5      1
2    36   118      8.0 72   5      2
3    12   149     12.6 74   5      3
4    18   313     11.5 62   5      4
5    NA    NA     14.3 56   5      5
6    28    NA     14.9 66   5      6
7    23   299      8.6 65   5      7
8    19    99     13.8 59   5      8
9     8    19     20.1 61   5      9
10   NA   194      8.6 69   5     10
11    7    NA      6.9 74   5     11
12   16   256      9.7 69   5     12
13   11   290      9.2 66   5     13
14   14   274     10.9 68   5     14
15   18    65     13.2 58   5     15
16   14   334     11.5 64   5     16
17   34   307     12.0 66   5     17
18    6    78     18.4 57   5     18
19   30   322     11.5 68   5     19
20   11    44      9.7 62   5     20
21    1     8      9.7 59   5     21
22   11   320     16.6 73   5     22
23    4    25      9.7 61   5     23
24   32    92     12.0 61   5     24
25   NA    66     16.6 57   5     25
26   NA   266     14.9 58   5     26
27   NA    NA      8.0 57   5     27
28   23    13     12.0 67   5     28
29   45   252     14.9 81   5     29
30  115   223      5.7 79   5     30
⋮   ⋮     ⋮       ⋮    ⋮    ⋮     ⋮
124 96    167      6.9 91   9      1
125 78    197      5.1 92   9      2
126 73    183      2.8 93   9      3
127 91    189      4.6 93   9      4
128 47     95      7.4 87   9      5
129 32     92     15.5 84   9      6
130 20    252     10.9 80   9      7
131 23    220     10.3 78   9      8
132 21    230     10.9 75   9      9
133 24    259      9.7 73   9     10
134 44    236     14.9 81   9     11
135 21    259     15.5 76   9     12
136 28    238      6.3 77   9     13
137  9     24     10.9 71   9     14
138 13    112     11.5 71   9     15
139 46    237      6.9 78   9     16
140 18    224     13.8 67   9     17
141 13     27     10.3 76   9     18
142 24    238     10.3 68   9     19
143 16    201      8.0 82   9     20
144 13    238     12.6 64   9     21
145 23     14      9.2 71   9     22
146 36    139     10.3 81   9     23
147  7     49     10.3 69   9     24
148 14     20     16.6 63   9     25
149 30    193      6.9 70   9     26
150 NA    145     13.2 77   9     27
151 14    191     14.3 75   9     28
152 18    131      8.0 76   9     29
153 20    223     11.5 68   9     30

In [46]:
airquality[4:6, ]

  Ozone Solar.R Wind Temp Month Day
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [48]:
good <- complete.cases(airquality)
good

  [1]  TRUE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE  TRUE
 [13]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [25] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE
 [37] FALSE  TRUE FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE FALSE  TRUE  TRUE
 [49]  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [61] FALSE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE
 [73]  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE
 [85]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE
 [97] FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE  TRUE FALSE  TRUE
[109]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE FALSE  TRUE
[121]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[133]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[145]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE

In [49]:
airquality[good, ][4:6, ]

  Ozone Solar.R Wind Temp Month Day
4 18    313     11.5 62   5     4
7 23    299      8.6 65   5     7
8 19     99     13.8 59   5     8

In [50]:
na.omit(airquality)[4:6, ]

  Ozone Solar.R Wind Temp Month Day
4 18    313     11.5 62   5     4
7 23    299      8.6 65   5     7
8 19     99     13.8 59   5     8

## attach,detach和with

当引用某变量时每次都要指定表名较为繁琐时，可用attach()  将数据框添加到R的搜索路 径中，当R遇到一个变量后，现在全局环境中查找，再在此搜索路径中查找.

summary(airquality$Ozone)可以写成

In [53]:
summary(airquality$Ozone)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   1.00   18.00   31.50   42.13   63.25  168.00      37

In [52]:
attach(airquality)
summary(Ozone)

detach(airquality)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   1.00   18.00   31.50   42.13   63.25  168.00      37

另一种方式是使用函数with(表名，语句),一般用于制图

In [55]:
with(airquality, summary(Ozone))

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   1.00   18.00   31.50   42.13   63.25  168.00      37