# 常见数据清理
## 排序-sort

In [1]:
X <- data.frame(var1 = sample(1:5), var2 = sample(6:10), var3 = sample(11:15))
set.seed(1)
X

  var1 var2 var3
1 5     6   13
2 3     9   11
3 1     8   15
4 4     7   12
5 2    10   14

In [2]:
X <- X[sample(1:5), ]
X

  var1 var2 var3
1 5     6   13
4 4     7   12
3 1     8   15
5 2    10   14
2 3     9   11

In [3]:
X$var2[c(1, 3)] <- NA
X

  var1 var2 var3
1 5    NA   13
4 4     7   12
3 1    NA   15
5 2    10   14
2 3     9   11

In [4]:
sort(X$var1)

[1] 1 2 3 4 5

In [6]:
sort(X$var1, decreasing = TRUE)

[1] 5 4 3 2 1

In [7]:
sort(X$var2)

[1]  7  9 10

In [9]:
class(X$var1)

[1] "integer"

In [10]:
sort(X$var2, na.last = TRUE)

[1]  7  9 10 NA NA

## 排序-order

In [12]:
order(X$var1)

[1] 3 4 5 2 1

In [13]:
X[order(X$var1), ]

  var1 var2 var3
3 1    NA   15
5 2    10   14
2 3     9   11
4 4     7   12
1 5    NA   13

In [14]:
X[order(X$var1, X$var3), ]

  var1 var2 var3
3 1    NA   15
5 2    10   14
2 3     9   11
4 4     7   12
1 5    NA   13

## 排序-arrange

In [15]:
library(plyr)

In [16]:
X[3, 1] <- 1

In [17]:
X

  var1 var2 var3
1 5    NA   13
4 4     7   12
3 1    NA   15
5 2    10   14
2 3     9   11

In [19]:
arrange(X, var1, var3)

  var1 var2 var3
1 1    NA   15
2 2    10   14
3 3     9   11
4 4     7   12
5 5    NA   13

In [21]:
arrange(X, desc(var1), var3)

  var1 var2 var3
1 5    NA   13
2 4     7   12
3 3     9   11
4 2    10   14
5 1    NA   15

## 匹配数据
- match   返回x在table 中的位置，没有的话返回nomatch 指定的值 
- "%in%"<-function(x,table)match(x,table,nomatch    =0)>0

In [22]:
match(c(1, 3, 5, 9, 21), -10:10)

[1] 12 14 16 20 NA

In [23]:
c(1, 3, 5, 9, 21) %in% -10:10

[1]  TRUE  TRUE  TRUE  TRUE FALSE

## which  输入逻辑向量，返回真值所在的位置
- which.max 和which.min在向量中分别寻找最大值和最小值

In [24]:
which(c(TRUE, FALSE, TRUE, NA, FALSE, FALSE, TRUE))

[1] 1 3 7

In [25]:
which.max(c(1:4, 11, 0:5))

[1] 5

In [26]:
which.min(c(1:4, 11, 0:5))

[1] 6

## 切割数据

In [27]:
cut(1:20, 5)

 [1] (0.981,4.8] (0.981,4.8] (0.981,4.8] (0.981,4.8] (4.8,8.6]   (4.8,8.6]
 [7] (4.8,8.6]   (4.8,8.6]   (8.6,12.4]  (8.6,12.4]  (8.6,12.4]  (8.6,12.4]
[13] (12.4,16.2] (12.4,16.2] (12.4,16.2] (12.4,16.2] (16.2,20]   (16.2,20]
[19] (16.2,20]   (16.2,20]
Levels: (0.981,4.8] (4.8,8.6] (8.6,12.4] (12.4,16.2] (16.2,20]

In [28]:
cut(1:20, c(1, 5, 9, 13, 17, 20))

 [1] <NA>    (1,5]   (1,5]   (1,5]   (1,5]   (5,9]   (5,9]   (5,9]   (5,9]
[10] (9,13]  (9,13]  (9,13]  (9,13]  (13,17] (13,17] (13,17] (13,17] (17,20]
[19] (17,20] (17,20]
Levels: (1,5] (5,9] (9,13] (13,17] (17,20]

## 切割数据-Hmisc包

In [31]:
library(Hmisc)

Hmisc::cut2(1:20, g = 5)

Attaching package: ‘Hmisc’


The following objects are masked from ‘package:plyr’:

    is.discrete, summarize


The following objects are masked from ‘package:base’:

    format.pval, units

 [1] [ 1, 5) [ 1, 5) [ 1, 5) [ 1, 5) [ 5, 9) [ 5, 9) [ 5, 9) [ 5, 9) [ 9,13)
[10] [ 9,13) [ 9,13) [ 9,13) [13,17) [13,17) [13,17) [13,17) [17,20] [17,20]
[19] [17,20] [17,20]
Levels: [ 1, 5) [ 5, 9) [ 9,13) [13,17) [17,20]

In [32]:
Hmisc::cut2(1:20, cuts = c(1, 5, 9, 13, 17, 20))

 [1] [ 1, 5) [ 1, 5) [ 1, 5) [ 1, 5) [ 5, 9) [ 5, 9) [ 5, 9) [ 5, 9) [ 9,13)
[10] [ 9,13) [ 9,13) [ 9,13) [13,17) [13,17) [13,17) [13,17) [17,20] [17,20]
[19] [17,20] [17,20]
Levels: [ 1, 5) [ 5, 9) [ 9,13) [13,17) [17,20]

## 重塑数据-熔化

In [37]:
library(reshape2)
head(mtcars, 2)

              mpg cyl disp hp  drat wt    qsec  vs am gear carb carname
Mazda RX4     21  6   160  110 3.9  2.620 16.46 0  1  4    4    Mazda RX4
Mazda RX4 Wag 21  6   160  110 3.9  2.875 17.02 0  1  4    4    Mazda RX4 Wag

In [41]:
mtcars$carname <- rownames(mtcars)
length(mtcars)

[1] 12

melt

data：要转换的数据框；      
id.vars：指定哪些列是标识符，不需要被转换；     
measure.vars：指定哪些列需要被转换；      
variable.name：新列的列名，默认为“variable”；      
value.name：新列中数值的列名，默认为“value”。

In [44]:
carMelt <- melt(mtcars,
    id.vars = c("carname", "gear", "cyl"),
    measure.vars = c("mpg", "hp")
)
length(carMelt)
carMelt

[1] 5

   carname             gear cyl variable value
1  Mazda RX4           4    6   mpg      21.0
2  Mazda RX4 Wag       4    6   mpg      21.0
3  Datsun 710          4    4   mpg      22.8
4  Hornet 4 Drive      3    6   mpg      21.4
5  Hornet Sportabout   3    8   mpg      18.7
6  Valiant             3    6   mpg      18.1
7  Duster 360          3    8   mpg      14.3
8  Merc 240D           4    4   mpg      24.4
9  Merc 230            4    4   mpg      22.8
10 Merc 280            4    6   mpg      19.2
11 Merc 280C           4    6   mpg      17.8
12 Merc 450SE          3    8   mpg      16.4
13 Merc 450SL          3    8   mpg      17.3
14 Merc 450SLC         3    8   mpg      15.2
15 Cadillac Fleetwood  3    8   mpg      10.4
16 Lincoln Continental 3    8   mpg      10.4
17 Chrysler Imperial   3    8   mpg      14.7
18 Fiat 128            4    4   mpg      32.4
19 Honda Civic         4    4   mpg      30.4
20 Toyota Corolla      4    4   mpg      33.9
21 Toyota Corona       3    4   mpg      21.5
22 Dodge Challenger    3    8   mpg      15.5
23 AMC Javelin         3    8   mpg      15.2
24 Camaro Z28          3    8   mpg      13.3
25 Pontiac Firebird    3    8   mpg      19.2
26 Fiat X1-9           4    4   mpg      27.3
27 Porsche 914-2       5    4   mpg      26.0
28 Lotus Europa        5    4   mpg      30.4
29 Ford Pantera L      5    8   mpg      15.8
30 Ferrari Dino        5    6   mpg      19.7
⋮  ⋮                   ⋮    ⋮   ⋮        ⋮
35 Datsun 710          4    4   hp        93
36 Hornet 4 Drive      3    6   hp       110
37 Hornet Sportabout   3    8   hp       175
38 Valiant             3    6   hp       105
39 Duster 360          3    8   hp       245
40 Merc 240D           4    4   hp        62
41 Merc 230            4    4   hp        95
42 Merc 280            4    6   hp       123
43 Merc 280C           4    6   hp       123
44 Merc 450SE          3    8   hp       180
45 Merc 450SL          3    8   hp       180
46 Merc 450SLC         3    8   hp       180
47 Cadillac Fleetwood  3    8   hp       205
48 Lincoln Continental 3    8   hp       215
49 Chrysler Imperial   3    8   hp       230
50 Fiat 128            4    4   hp        66
51 Honda Civic         4    4   hp        52
52 Toyota Corolla      4    4   hp        65
53 Toyota Corona       3    4   hp        97
54 Dodge Challenger    3    8   hp       150
55 AMC Javelin         3    8   hp       150
56 Camaro Z28          3    8   hp       245
57 Pontiac Firebird    3    8   hp       175
58 Fiat X1-9           4    4   hp        66
59 Porsche 914-2       5    4   hp        91
60 Lotus Europa        5    4   hp       113
61 Ford Pantera L      5    8   hp       264
62 Ferrari Dino        5    6   hp       175
63 Maserati Bora       5    8   hp       335
64 Volvo 142E          4    4   hp       109

In [47]:
head(carMelt, n = 3)

  carname       gear cyl variable value
1 Mazda RX4     4    6   mpg      21.0
2 Mazda RX4 Wag 4    6   mpg      21.0
3 Datsun 710    4    4   mpg      22.8

In [48]:
dcast

function (data, formula, fun.aggregate = NULL, ..., margins = NULL,
    subset = NULL, fill = NULL, drop = TRUE, value.var = guess_value(data))
{
    formula <- parse_formula(formula, names(data), value.var)
    if (length(formula) > 2) {
        stop("Dataframes have at most two output dimensions")
    }
    if (!is.null(margins)) {
        data <- add_margins(data, lapply(formula, names), margins)
    }
    res <- cast(data, formula, fun.aggregate, ..., subset = subset,
        fill = fill, drop = drop, value.var = value.var)
    data <- as.data.frame.matrix(res$data, stringsAsFactors = FALSE)
    names(data) <- array_names(res$labels[[2]])
    stopifnot(nrow(res$labels[[1]]) == nrow(data))
    cbind(res$labels[[1]], data)
}
<bytecode: 0x556b553f6340>
<environment: namespace:reshape2>

In [51]:
dcast(carMelt, cyl ~ variable, value.var = "value")
# cyl ~ variable 表示将年份作为行，性别作为列，value.var 参数表示需要转换的值的变量名。
#

Aggregation function missing: defaulting to length

  cyl mpg hp
1 4   11  11
2 6    7   7
3 8   14  14

In [49]:
dcast(carMelt, cyl ~ variable, mean)

  cyl mpg      hp
1 4   26.66364  82.63636
2 6   19.74286 122.28571
3 8   15.10000 209.21429

In [52]:
acast(carMelt, cyl ~ gear ~ variable)

Aggregation function missing: defaulting to length

, , mpg

   3 4 5
4  1 8 2
6  2 4 1
8 12 0 2

, , hp

   3 4 5
4  1 8 2
6  2 4 1
8 12 0 2