# 读写数据
## 键盘输入

有两种方式：文本编辑器和代码输入

文本编辑器：1.创建空数据框或者提供已有数据框；2.通过fix()函数打开文本编辑器编辑. 注意字母列会被转化为因子列

In [2]:
mydata <- data.frame(a = 1:2, b = c("a", "b"))
mydata ## nydata<-edit (mydata)等价
write.table(mydata, "./data/table.txt")

  a b
1 1 a
2 2 b

In [ ]:
'mydata<-
a  b
1  a
2  b"
read.table(text=mydata,header=T)'

## 读写数据常用函数

在R里读取数据时会用到几个基本函数：
- 读取表格形式数据：read.table(),read.csv(),读取以行列形式存储的文本数据，返回数 据框
- 逐行读取文本文件readLines(), 可以读取任何格式的文本文件 · 读取R代码文件source()(对应的相反的函数dump)
- 读取被逆句法分析成文本文件的R 代码文件dput(对应的相反的函数dget)
- load()和unserialize()函数能把二进制文件读取到R 对应的数据存储函数有：
write.table();write.csv();writeLines();dump();dput();save();serialize()



read.table(),read.csv()读取表格数据，返回一个数据框。

- file:文件路径/文件名/连接
- header:   指明是否有表头(read.table 默认为F,read.csv默认为T)
- sep:   指明列是如何分割的(read.table 默认空格，read.csv默认逗号)
- colClasses:   字符向量(长度是列长度),指定每列的数据类型(指定会很大程度加快读取 速度，尤其是数据量大时，可以先读取前面几行，通过循环找到每列的类型，再赋值给这 个参数读取所有数据)
- nrows:   读入的行数
- comment.char  指定注释字符，此行注释符右边的字符会被忽略(默认为#,指定为 空""可以提高效率)
-  skip:从开始跳过的行数
-  stringsAsFactors:字符作为因子处理，默认为T

### 读取大型数据


对于大型表格数据而言，如下几点可以提效而且防止R卡住
- 仔细阅读read.table 的帮助文档，会发现大量优化函数的信息 · 估算一下读取的数据集需要多少存储空间
- 如果文件没有注释行的话，设置comment.char=""
- coClasses  参数非常重要，如果不指定的话R会遍历每一列来确定每列的数据类型，数据集不太大时可以，但是如果很大会消耗内存且拖慢运行速度，如果能告诉R每一列的数据类型，通常速度能提升两倍.如果每列都是数值型，可以直接设置 colClasses="numeric".
- 设置nrows, 不会加速，但是提高内存使用率，如果能告诉R读取多少行信息的话，R能计 算出将占用多大内存，不用边读取边计算了.设置的比实际行数多一些也没关系，仍能  准确读取.

In [3]:
init <- read.table("./data/table.txt", nrows = 2)
init

  a b
1 1 a
2 2 b

In [4]:
cla <- sapply(init, class)
cla

          a           b
  "integer" "character"

In [5]:
tabAll <- read.table("./data/table.txt", colClasses = cla)
tabAll

   a b
1  1 a
2  2 b
3  1 a
4  2 b
5  1 a
6  2 b
7  1 a
8  2 b
9  1 a
10 2 b

In [17]:
tabs <- read.table("./data/table.txt", row.names = 1, nrows = 2)
colnames(tabs)

[1] "a" "b"

In [19]:
t <- read.table("./data/table.txt",
    nrows = 2,
    row.names = 1,
    skip = 5
)

t

  V2 V3
5 1  a
6 2  b

In [20]:
colnames(t) <- colnames(tabs)

In [21]:
t

  a b
5 1 a
6 2 b